[submodule "public"]
	path = public
	url = git@github.com-mpcny:mariepense/mariepense.github.io.git
	branch = master
[submodule "public_mariepensecenter"]
	path = public
	url = git@github.com-mpcny:mariepense/mariepensecenter.github.io.git
	branch = master
